* {
margin: 0;
padding:0;
}


body{
font-family: "Bitcount Single", system-ui;
}

:root {
    --fist-bg:rgb(115, 129, 229);
    --second-bg:#6d3de7;
    --fist-txt:#fefefe;
    --second-txt:rgb(33, 33, 33);
    --fist-icon: rgb(61, 58, 245);
    --second-icon: rgb(6, 6, 6);
}

.container{
    display: block;
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-color: var(--fist-bg);
}


.wraper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
   align-items: center;
}

.card{
    width: 40%;
    background-color: #939393;
    color: var(--fist-txt);
    margin: 32px;
    padding: 8px;
    box-shadow: 2px 2px 2px rgb(53, 51, 51);
}

.text-center{
    text-align: center;
}

.title{
    font-size: 20px;
}

.desciption {
    margin-top: 5px;
    
    
}
.icon{
    font-size: 20px;
    margin: 10px;
    color: red;
}

.btn{
    background-color: grey;
    margin-top: 8px;
    padding: 10px;
   
}

.btn:hover{
    background-color: var(--fist-bg);
    color: var(--fist-txt);
    -ms-transform:rotate(10deg) ;
    transform: rotate(10deg);
    transition: .3s ease-in-out;
}

.container2 {
    display: none;
}

/* @media screen and (min-width: 500px) {
  .container{
    background-color: tomato;
  }
} */

@media screen and (max-width: 476px)  {

    .container2 {
        display: none;
    }
    .container{
        background-color: #ffffff;
    }

  .card{
    width: 95%;
  }

  .title{
    font-size: 3em;
  }
  .desciption {
    font-size: 1.5em;
  }

  .icon{
    font-size: 3em;
  }

  .btn{
    padding: 16px;
    font-size: 1em;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1300px)  {
    .container{
        display: none;
    }

    .container2{
        display: block;
    }
}