* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-fist:tomato;
    --bg-second:#b74b4b;
    --color-fist:rgb(228, 219, 219);
    --color-second:black;
}

body {
    width: 100%;
    height: 100vh;
    background-color:var(--color-second);
    color: var(--color-fist);
    font-family: "Josefin Sans", sans-serif;;
  
}

html {
    scroll-behavior: smooth;
}

.navbar {
    background-color: transparent; 
}

.logo{
    padding: 30px;
     color: var(--bg-fist);
     cursor: pointer;
    transition: .5s ease;
}

.logo h3 {
    font-size: 30px;
}

.ul-content{
   display: flex;
   align-items: flex-end;
   justify-content: end;
  
}

.li-content {
    list-style-type: none;
    margin: 25px;
    font-size: 15px;
    margin-top: 15px;
    transition: transform 0.3s ease;
}

.li-content a {
    color: var(--bg-second);
    text-decoration: none;
}

.li-content:hover {
  transform: scale(1.5);
}

section  {
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.image img{
    border: 2px solid none;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    width: 300px;
    box-shadow: 2px 2px 2px rgb(107, 104, 104);
}


.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}

.content-home h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 1,3;
}

span{
    color: red;
}

.content-home p {
margin-top: 15px;
}

.icon{
    padding-top: 10px;
    margin: 5px;
    border: 2px solid none;
    cursor: pointer;
    border-radius: 50%;
    font-size: 20px;
    transition: transform .3s ease;
}

.icon:hover{
transform:scale(1.5) ;
}

.btn1{
    min-width: 200px;
    margin-top: 10px;
    font-weight: 100%;
    padding: 10px;
    border-radius: 80px;
    transition: transform .3s ease;
}

.btn1:hover{
    transform: scale(1.1);
    object-fit: cover;
   color: var(--bg-fist);
}

.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
    padding-top:15px ;
}

.typing-text span{
    position: relative;
}

.typing-text span:before{
    content: "Designer Developer";
    color: var(--bg-second);
    animation: words 20s infinite ;
}

.typing-text span:after {
    content: "";
    background-color: var(--color-second);
    position: absolute;
    width: calc(100% + 8px );
    height: 100%;
    border-left: 3px solid var(--color-second);
    right: -8;
    animation: cursor 0.6s infinite;
    
}

.skil h2 {
    text-align: center;
}

.project-grid {
    display: inline-block;
    padding: 1.5rem;
    grid-template-columns:repeat(auto-fit, minMax(300px, 1fr));
    
}

.project-card {
    padding: 1.5rem;
    border-radius: 10px;
    border: 3px solid red;
    background-color:var(--bg-second) ;
    width: 150px;
    transition: transform 0.3s ease; 
}

.project-card:hover {
 transform: scale(1.1);
}

.se {
    padding: 1.5rem;
    border-radius: 10px;
    border: 3px solid red;
    background-color: var(--bg-second);
    width: 150px;
    margin-top: 10px;
}

.fa{
    max-width: 100px;
    font-size: 50px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project {
    text-align: center;
}


.img-project {
    height: 100px;
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.project a {
    text-decoration: none;
    color: var(--color-fist);
    transition: transform .3s ease;
   
}

.project a:hover {
    transform: scale(1.1);
}

.map{
    max-width: 200px;
    width: 100%;
    height: 400px;
    overflow: hidden;
    
    
}

.map iframe {
    width: 100%;
    height: 100%;
}

@keyframes cursor{
    to{
        border-left: 3px solid #b74b4b;

    }
}

@keyframes words {
    0%,20% {
        content: "Web Developer";
    }

    21%, 40% {
        content:"Software Developer";
    }

    41%, 60% {
         content: "Software engginer";

    }
    61%, 80% {
        content: "Youtuber";
    
    }

    81%, 100% {
        content: "Designer";
    }
}


.contact {
    max-width: 350px;
    width: 100%;
    border: solid 2px none;
    background-color: var(--bg-second);
    margin-left: 350px;
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
   
}

.contact h2 {
    text-align: center;
    margin-bottom: 10px;
}

#contact-form input, #contact-form textarea {
    padding: 12px;
    border: 1px solid white;
    border-radius: 5px;  
    width: 300px;
    margin-top: 5px;
}

.btn2 {
    margin-top: 10px;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    transition: transform .3s ease;
}

.btn2:hover {
 transform: translateY(10px);
 background-color: var(--bg-second);
 color: var(--color-fist);
}