* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: linear-gradient(135deg, #020617, #0f1772 );
    /* background-image: url(WhatsApp\ Image\ 2026-01-22\ at\ 21.10.44.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    color: white;
}

html {
    scroll-behavior: smooth;
}

.navbar{
    background-color: rgba(0,0,0,0.5);
    padding: 20px;
}

.navbar h3 {
    color: red;
}

.navbar h4 {
    color: blue;
}

.ul-nav{
    display: flex;
    gap: 100px;
    list-style-type: none;
    align-items: center;
    justify-content: end;
} 

.li-nav {
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    transition: transform 0.3s;
}

.li-nav:hover {
    color: red;
    transform: translateY(-10px);
}

.li-nav a {
    text-decoration: none;
    color: white;
}

.home{
    text-align: center;
    padding: 230px;
    font-size: 20px;
}

.product-name {
    text-align: center;
    margin-top: 215px;
    font-size: 30px;
    
}

.product-name p{
    text-align: center;
    margin-top: 10px;
    font-family: monospace;
    

}

.card{
    margin-top: 40px;
    width: 340px;
    background-color: rgba(2,6,23);
    border-radius: 18px;
    padding: 25px;
    box-shadow: 0px 25px 50px rgba(0,0,0,0,6);
    transition: 0.3s;
    float: left;
    gap: 20px;
    margin-right:78px;
}

.card:hover {
    transform: translateY(12px);
    box-shadow:
     0 0 20px rgba(243,6,6,0.966),
      0 0 40px rgba(226,5,5,0.712);
}

.card {
    text-align: center;
    margin-bottom: 25px;

}

.card p {
    font-size: 14px;
}

.card h2 {
    color: red;
}

.product {
    display: flex;
    align-items: center;
    gap: 15px;
    background: black;
    padding: 15px;
    border-radius: 12px;
    margin-bottom: 20px;
    flex-direction: column;
    overflow: hidden;
}

.product img {
    border-radius: 10px;
    transform: 0.4s;
}

.product:hover img {
 transform: scale(1.1);
}

.info h4 {
    font-size: 15px;
}

.info span {
    font-size: 13px;
    color: white;
}

.prince {
    margin-left: auto;
    font-weight: bold;
}

.details{
    margin-bottom: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 14px;
}

.row.total {
 font-weight: bold;
 border-top: 1px solid black;
 padding-top: 10px;
}

.btn {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 30px;
    background: red;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(243, 6, 6, 0.966)
    , 0 0 40px rgba(226,5,5,0.712);
    color: white;
}

.topup-form {

    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 30px;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
 }

 .topup-form h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.8em;
 }

 .form-group {
    margin-bottom: 15px;
 }

 label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
 }

 select, input {
     width: 100%;
     padding: 10px;
     border: none;
     border-radius: 5px;
     font-size: 1em;
 }
 button[type="submit"] {
    width: 100%;
    background: tomato;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background 0.3s;
    color: white;
 }

  button[type="submit"]:hover{
    background: greenyellow;
    color: black;
  }

  footer {
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    margin-top: 40px;
  }

  footer p {
    font-size: 0.9em;
  }

  @media (max-width: 768px) {
            .products {
                grid-template-columns: 1fr;
            }
            header h1 {
                font-size: 2em;
            }
        }
